.banner {
    position: relative;

    .slick-slider {
        position: absolute;
    }

    &-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        top: 0;
        left: 0;
        opacity: 0.2;
        z-index: 1;
    }

    .wrapper {
        position: inherit;
        display: grid;
        align-items: center;
        height: 100%;
    }

    &-texte {
        position: relative;
        z-index: 2;
        margin: 150px 0 50px;
        width: 700px;
        padding: 100px 0;
    }

    .chapo {
        margin-top: 30px;
    }
}

.btn-group {
    margin-top: 35px;
    width: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.btn-white {
    background: #fff;
    color: #000;
}

.btn-border {
    border: 2px solid #fff;
}

.reseaux {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 50px;
}

.reseaux a {
    width: 40px;
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;

    img {
        transform: scale(0.7);
    }
}

.bg-blue {
    position: relative;
    background: #419C97;
}

.vision {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0 120px;

    .texte {
        margin-top: 30px;
        padding-right: 280px;

        .titre-main {
            margin-bottom: 10px;
        }
    }

    .picto {
        display: flex;
        margin-top: 30px;
        font-size: 30px;
        align-items: end;
        gap: 15px;

        strong {
            display: block;
            margin-top: 10px;
        }
    }
}

.bloc-2 {
    position: relative;

    img {
        position: absolute;
        top: 100px;
        display: block;
        left: 50px;
        z-index: 2;
    }

    .box {
        position: absolute;
        top: -30px;
        width: 315px;
        height: 315px;
        background-color: #272727;
        border-radius: 35px;
        right: 0;
        z-index: 1;
    }
}

.bg-image-1 {
    position: relative;
    background: url(./assets/img/about.jpg) no-repeat center;
    background-size: cover;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height:100%;
        background: #272727;
        top: 0;
        left: 0;
        opacity: 0.9;
        z-index: 1;
    }
}

.about {
    position: relative;
    padding: 100px 0;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 80px;
    align-items: start;
   
    .profil-detail {
        .titre-main {
            font-size: 45px;
            line-height: 50px;
            margin: 25px 0;
        }
    }
    .img-about{
        img{
            display: block;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        margin-bottom: 30px;
    }
    .logo-detail-text{
        margin-top: 30px;
    }
}
.team {
    padding: 100px 0;
    position: relative;
    z-index: 4;
    max-width: 1500px;
    .item {
        margin: 0 15px;
        img {
            width: 100%;
            object-fit: cover;
            border-radius:10px;
        }
    }

    .nom {
        font-size: 20px;
        color: #fff;
        font-weight: 800;
        margin-top: 20px;
    }
}

.bg-image-2 {
    position: relative;
    background: url(./assets/img/services.jpg) no-repeat top;
    background-size: cover;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #419C97;
        top: 0;
        left: 0;
        opacity: 0.9;
        z-index: 1;
    }
}

.services {
    position: relative;
    padding: 80px 0 50px;
    z-index: 2;

    &-grid {
        margin: 50px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

    [class^='item'] {
        .icone {
            display: grid;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 10px;
            padding: 20px 30px;
            margin-bottom: 10px;
        }
        
        .content {
            position: relative;
            background: #272727;
            padding: 30px 10px 60px 30px;
            height: 270px;
            overflow: hidden;
            transition: all ease-in-out 400ms;
        }
        .content.show{
            height: 75%;
            max-height: fit-content;
        }
        button{
            position: absolute;
            display: block;
            background: none;
            border: none;
            cursor: pointer;
            font: 700 15px/25px "poppins";
            color: #fff;
            bottom: 0;
            width: 100%;
            left: 0;
            text-align: left;
            padding: 20px 30px;
            background: #272727;
        }
        &:nth-child(2) {
            .content {
                background-color: #419C97;
            }
            button{
                background-color: #419C97;
            }
        }
    }
}

.partenaires {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 80px 0;

    &-slick {
        margin: 50px auto 0;
        max-width: 600px;
    }
}

.bg-image-3 {
    position: relative;
    background: #000;

    &::after {
        content: "";
        position: absolute;
        background-size: contain;
        width: 100%;
        height: 100%;
        background: url(./assets/img/contact.jpg) no-repeat center;
        top: 0;
        left: 0;
        opacity: 0.15;
        z-index: 1;
    }
}

.contact {
    position: relative;
    z-index: 2;
    padding: 100px 0;
    max-width: 800px;
}